.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    margin-bottom: "30px";
    text-align: "center";
}

.iphone {
    background-color: rgb(232, 232, 232);
    height: "560px";
    overflow: "auto";
    border: "10px solid black";
    width: "270px";
    border-radius: "35px";
    display: "flex";
    flex-direction: "column"
}

.iphone::-webkit-scrollbar {
    width: 0;
}

.card {
    background-color: white;


}

.hover:hover {
    background-image: none;
}

.line {
    width: 90%;
    border-color: rgba(255, 255, 255, 0.879);
}



.overflow {

    padding: 15px;
    /* width: 50%;
    height: 100px; */
    overflow: auto;
}