* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(196, 252, 252, 1) 0%, rgba(166, 89, 255, 1) 45%)
}

h1 {
    font-size: 18px;
    float: left;
    margin-left: 5px;
}